body {
  font-family: Arial;
  margin: 0;
  min-width: 90 vh;
  min-height: 100 vh;
  background-color: #8fe3cf;
  background-size: cover;
  padding-bottom: 80px;
}

.profileContainer {
  text-align: center;
}

.smileyText {
  text-align: center;
}

/* Style the tab 
     https://www.w3schools.com/howto/howto_js_tabs.asp
     */
.tab {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  display: inline-block;
}

.tabHeaderProfileSettings {
  margin: 0;
  margin-left: -2%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #2B3A55;
  color: #FFF7E9;
  margin-right: 0%;

}

.tabHeader {
  margin: 0;
  margin-left: -2%;
  margin-right: -2%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #2B3A55;
  color: #FFF7E9;
}

.btn:focus {
  background-color: #DDDDDD;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  transition: 0.3s;
  font-size: 10px;
}

.nav-link.active {
  background-color: #ddd;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

#formContainer {
  padding: 5px;
  width: 100%;
  position: relative;
  background-color: #FFF7E9;
  border-width: 5px;
  border-style: solid;
  border-color: #2B3A55;
  border-radius: 35px;
  /* add spacing around the form */
}

label {
  font-size: 2rem;
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(2);
  margin-right: 10px;
  margin-left: 10px;

}




select option {
  font-size: 10px;
  /* adjust the font size as needed */
}


.container {
  font-size: 2rem;

}


/* Create an active/current tablink class */

.navbar {
  overflow: hidden;
  background-color: #2B3A55;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;

}

/* .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
.addButton {
  /* display: block; */
  margin: 0 auto;
  font-weight: 550;
  font-size: 30px;
  width: 30%;
  padding: 10px;
  height: 70px;
  background-color: #2B3A55;
  color: #FFF7E9;
  border-radius: 35px;
  margin-bottom: 10px;
}

.clearButton {
  margin: 0 auto;
  font-weight: 550;
  font-size: 30px;
  width: 30%;
  padding: 10px;
  height: 70px;
  border-radius: 35px;
  margin-bottom: 10px;
}

.list-group-item {
  position: relative;
  background-color: #FFF7E9;
  border-color: black;
  border-style: solid;
}

.fooditemList {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  align-items: space-between;
  padding: 20px;
  border: 5px solid #2B3A55;
  border-radius: 35px;
  background-color: #FFF7E9;
}

.btn:active {
  background-color: #256D85
}

.item-details {
  display: none;
  /* other styles */
}

.remove-button {
  margin-top: auto;
}



.keyboard-image {
  position: absolute;
  bottom: 0px;

  height: auto;
  width: 100%;
  display: none;
  z-index: 100000;

}


/* Style the tab content */
.tabcontent {
  background-color: #8fe3cf
}

#healthGoals {
  width: 240px;
  /* adjust this value to your liking */
}

/* When clicked on, add a background color and strike out text */

/* Style the close button */


.bolded {
  font-weight: bold;
}

.custom-list {
  margin-bottom: 80px;
  /* adjust as needed */
}

#suggestions {
  position: absolute;
  width: 200px;
  margin-top: 0.5rem;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

#suggestions li {
  padding: 0.5rem;
  cursor: pointer;
}

#suggestions li:hover {
  background-color: #f0f0f0;
}

#suggestions:empty {
  display: none;
}

#description {
  position: relative;
  z-index: 2;
}

#quantity {
  position: relative;
  z-index: 2;
}

/**********************/
/* Home tab Elements */
/**********************/
.home #home-date,
h1,
h3 {
  margin-top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0;
  text-align: center;
}

.home-container {
  overflow: auto;
  align-items: center;
  bottom: 100px;
}

/* Nutrition Table */
.nutrition-table-container {
  overflow-x: auto;
  white-space: nowrap;
}

.nutrition-table {
  background-color: #2B3A55;
  color: #FFF7E9;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: center;
  color: #FFF7E9;
  /* border-bottom: 1px solid #ddd; */
}

.child-nutrient td {
  color: #2B3A55;
  background-color: #FFF7E9;
}

.parent-nutrient {
  cursor: pointer;
}

.child-nutrient {
  display: none;
  color: #FFF7E9;
}

.child-nutrient.show {
  display: table-row;
}
 
.arrow:before {
  content: "\25B6";
  margin-right: 5px;
}

.parent-nutrient td:first-child {
  cursor: pointer;
}

.arrow:before {
  content: "\25B6";
  display: inline-block;
  margin-right: 5px;
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.arrow.open:before {
  transform: rotate(90deg);
}

.main-nutrient {
  display: inline-block;
  margin-left: 5px;
}

.parent-nutrient:hover td:first-child .arrow:before {
  transform: rotate(90deg);
}

.parent-nutrient.collapsed .arrow:before {
  transform: rotate(0deg);
}

.parent-nutrient.collapsed~.child-nutrient {
  display: none;
}

.parent-nutrient.open .arrow:before {
  transform: rotate(90deg);
}

.parent-nutrient.open~.child-nutrient {
  display: table-row;
}


/* Pie chart container */

.pie-chart-container {
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}

#myChart {
  margin-bottom: 5%;
}

/* Calories Table */
.calories-table-container {
  display: flex;
  align-items: center;
}

#calories-image {
  margin-right: 1.5%;
}

.calories-table {
  width: 100%;
  background-color: #2B3A55;
  color: #FFF7E9;
  border: solid;
  /* border-color: #ccc; */
}

/* Activity */
.activity-container {
  padding: 5%;
  background-color: #2B3A55;
  margin-bottom: 5%;
}

.streak-container {
  display: flex;
  align-items: center;
  padding: 0;
}

#your-streak {
  font-size: 2rem;
  margin-bottom: 0;
}

.streak-card {
  text-align: left;
  padding-left: 3%;
  color: #FFF7E9;
  width: 100%;
  background-color: #2B3A55;
}

#steps-image {
  margin-left: 13%;
}

.steps-card {
  text-align: left;
  padding-left: 3%;
  color: #FFF7E9;
  width: 100%;
  background-color: #2B3A55;
}

#steps-message {
  font-size: 3rem;
}

::-webkit-scrollbar {
  width: 12px !important;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
  background: #2B3A55 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;

}

::-webkit-scrollbar-thumb:window-inactive {
  background: #2B3A55 !important;
}

.bar-labels-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: -8%;
}

#left-text {
  margin-right: auto;
}

#right-text {
  margin-left: auto;
}

#settingsCont {
  color: #2B3A55;
}